.title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: rgb(255 255 255 / 0.8);
}
.title:hover {
  color: rgb(255 255 255 / 1);
}

.post {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(200 200 200 / 0.1);
}

.body {
  color: rgb(162 162 162 / 1);
  line-height: 1.75rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}
